<app-navbar-secundario [clase]="clase"></app-navbar-secundario>
<div class="clase-usuarios">
  <h2 class="mb-4">Listado de la clase</h2>

  <div class="seccion">
    <h2>PROFESOR</h2>
    <hr class="separador">
    <div *ngIf="profesor" class="usuario profesor">
      <img src="../../../assets/Img/ImagenSinLogear.png" alt="{{ profesor.nombre }}" class="avatar">
      <span>{{ profesor.nombre }}</span>
    </div>
  </div>

  <div class="seccion">
    <h2>ALUMNOS</h2>
    <hr class="separador">
    <div *ngFor="let alumno of alumnos" class="usuario alumno">
      <img src="../../../assets/Img/ImagenSinLogear.png" alt="{{ alumno.nombre }}" class="avatar">
      <span>{{ alumno.nombre }}</span>
    </div>
  </div>
</div>
