<div class="container-fluid auth-page">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="RegisterContainer">
                <div class="RegisterCard">
                    <h2 class="card-title text-center">Bienvenido de nuevo</h2>
                    <p class="auth-subtitle text-center">Accede a tu cuenta de EduVibe</p>
                    <form method="post" class="card-body">

                        <!-- Campo Email -->
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" name="correo" id="correo"
                                [(ngModel)]="loginRequest.email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                        </div><br>

                        <!-- Campo Contraseñas -->
                        <div class="form-group">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" name="contraseña" id="contraseña"
                                [(ngModel)]="loginRequest.password" required minlength="8">
                        </div><br>


                        <!-- Botón de Login -->
                        <div class="form-group d-flex justify-content-center">
                            <button type="button" class="boton" id="botonLogin" (click)="login()">Iniciar
                                Sesion</button>
                        </div>

                        <br>
                    </form>
                    <p class="auth-subtitle text-center">
                        ¿No tienes cuenta? <a routerLink="/registro">Regístrate</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>