.RegisterContainer {
    margin-top: 50px; /* Espacio extra arriba */
    margin-bottom: 50px; /* Espacio extra abajo */
  }
  
  .RegisterCard {
    padding: 20px;
    border: 1px solid #ccc; /* Borde opcional */
    border-radius: 10px; /* Borde redondeado opcional */
  }
  
  @media (min-width: 768px) {
    .RegisterContainer {
      max-width: 600px; /* Ancho máximo en pantallas medianas y grandes */
    }
  }

  h2 {
    text-align: center;
  }

  .boton {
    width: 230px; 
    padding: 5px; 
    color: white;
    margin-top: 20px; /* Espacio superior */
    background-color: #2D9596; 
    border-radius: 2px; 
    border: none; /* Quita las líneas del borde */
  }
  