<div class="container my-5">
    <h2 class="mb-4">{{ auth.ifAdmin() ? 'Todas las clases' : 'Mis clases' }}</h2>
    <div class="row mb-4">
        <div class="col-md-12 text-right">
            <a [routerLink]="['/crear-clase']" class="editar-button" *ngIf="auth.ifAdmin()">Crear Nueva Clase</a>
        </div>
    </div>
    <div class="row justify-content-center"> <!-- Centra las tarjetas horizontalmente -->
        <div class="col-md-5 mb-4" *ngFor="let clase of clases; let i = index">
            <div class="card">
                <img src="../../../assets/Img/ImagenClase3.png" class="card-img-top" alt="{{ clase.nombre }}">
                <div class="card-body">
                    <h5 class="card-title"><a [routerLink]="['/clase', clase.idClase]">{{ clase.nombre }}</a></h5>
                    <p class="card-text">{{ clase.descripcion }}</p>
                    <div class="card-buttons">
                        <a [routerLink]="['/clase', clase.idClase]" class="btn btn-primary">Tareas</a>
                        <a href="#" class="btn btn-secondary">Calificaciones</a>
                    </div>
                    <div class="tarea-buttons">
                        <br>
                        <!-- Botón de editar -->
                        <button class="editar-button" (click)="editarClase(clase.idClase)" *ngIf="auth.ifProfesor() || auth.ifAdmin()">Editar</button>
                        <br><br>
                        <!-- Botón de eliminar -->
                        <button class="eliminar-button" (click)="eliminarClase(clase.idClase)" *ngIf="auth.ifAdmin()">Eliminar</button>
                        <br><br>
                        <a [routerLink]="['/inscribir-usuario', clase.idClase]" *ngIf="auth.ifAdmin()" class="editar-button">Inscribir en Clase Un usuario</a> <!-- Nuevo botón para inscripción -->
                    </div>
                </div>
            </div>
            <div *ngIf="(i + 1) % 2 === 0 || i === clases.length - 1" class="w-100 d-none d-md-block"></div>
        </div>
    </div>
</div>
