.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2D9596;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  

  .card-buttons .btn {
    width: 45%;
    border-color: #2D9596;
    color: #2D9596;
    font-weight: bold;
    background-color: white;
  }
  

  
  a {
    text-decoration: none;
    color: #2D9596;
  }


  