.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
  
.card-body {
  padding: 20px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}


  
  .card-buttons .btn {
    width: 45%;
    border-color: #2D9596;
    color: #2D9596;
    font-weight: bold;
    background-color: white;
  }
  
  .pagination-controls {
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    color: #2D9596;
  }
  



  .paginacion ::ng-deep .ngx-pagination .current {
    background: #2D9596;
}
  