/* vistas-clases.component.css */
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-right: 50px; /* Aumentar espacio entre las tarjetas */
}

  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2D9596;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  
  .card-buttons .btn {
    width: 45%;
    border-color: #2D9596;
    color: #2D9596;
    font-weight: bold;
    background-color: white;
  }
  
  .pagination-controls {
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    color: #2D9596;
  }
  



  .paginacion ::ng-deep .ngx-pagination .current {
    background: #2D9596;
}
  