<div class="container my-5">
  <div class="tarea-container">    
    <div class="tarea-item" *ngIf="tarea">
      <div class="tarea-header">
        <h2 class="tarea-title">{{ tarea.nombreTarea }}</h2>
        <span class="tarea-status" [class.completed]="tarea.estado">{{ tarea.estado ? 'Completada' : 'Pendiente' }}</span>
      </div>
      <p class="tarea-enunciado">{{ tarea.enunciado }}</p>
      <p class="tarea-date">Fecha de apertura: {{ tarea.fechaApertura | date }}</p>
      <p class="tarea-calificacion"><strong>Calificación:</strong> {{ tarea.calificacion ?? 'Sin asignar' }}</p>
      <p class="usuario-asignado">
        Alumno asignado: {{ tarea.user?.email ?? 'Ninguno' }}
      </p>
      
      <!-- Control para subir archivo -->
      <div class="archivo-subida" *ngIf="auth.ifAlumno()">
        <input type="file" (change)="onArchivoSeleccionado($event)">
        <button (click)="subirArchivo()" [disabled]="!archivo">Subir Archivo</button>
      </div>

      <!-- Controles para editar calificación -->
      <div *ngIf="auth.ifProfesor() || auth.ifAdmin()">
        <label for="calificacion">Editar Calificación:</label>
        <input type="number" [(ngModel)]="nuevaCalificacion" min="0" max="10">
        <button class="editar-button" (click)="editarCalificacion(tarea.idTarea)">Poner Calificación</button>
      </div>

      <!-- Lista de archivos adjuntos -->
      <div class="archivo-lista" *ngIf="tarea.archivos && tarea.archivos.length > 0">
        <h3>Archivos Adjuntos</h3>
        <ul>
          <li *ngFor="let archivo of tarea.archivos; let i = index">
            Archivo {{ i + 1 }} 
            <button (click)="descargarArchivo(i)">Descargar</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
