.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tarea-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tarea-item {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tarea-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.tarea-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2D9596;
}

.tarea-status {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: white;
}

.tarea-status.completed {
  background-color: #28a745; /* Color verde para tarea completada */
}

.tarea-status.pending {
  background-color: #ffcc00; /* Color amarillo para tarea pendiente */
}

.tarea-enunciado {
  font-size: 1.1rem;
  color: #333;
  margin-top: 1rem;
}

.tarea-date, .tarea-calificacion, .usuario-asignado {
  margin-top: 0.5rem;
  color: #555;
}

.archivo-subida {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

.archivo-lista {
  margin-top: 1.5rem;
}

.archivo-lista h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #2D9596;
}

.archivo-lista ul {
  list-style-type: none;
  padding: 0;
}

.archivo-lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: #f1f1f1;
}

.archivo-lista button {
  background-color: #2D9596;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.archivo-lista button:hover {
  background-color: #1b6d73;
}

.editar-button {
  background-color: #2D9596;
  color: white;
  width: 30%;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editar-button:hover {
  background-color: #1b6d73;
}

.solucion-escrita-alumno {
  margin-top: 1.5rem;
}

.solucion-escrita-alumno .btn-primary {
  background-color: #2D9596; /* Color verde */
  border-color: #2D9596; /* Color verde */
  display: block;
  margin: 0 auto;
}

.solucion-escrita-profesor {
  margin-top: 2rem; /* Aumentado para mejor separación */
}

.solucion-escrita {
  background-color: #eef5f9;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
  font-size: 1.1rem;
  color: #333;
}

.calificacion-profesor {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
