<div class="container my-5">
  <div class="tarea-container">    
    <div class="tarea-item" *ngIf="tarea">
      <div class="tarea-header">
        <h2 class="tarea-title">{{ tarea.nombreTarea }}</h2>
        <span class="tarea-status" [ngClass]="{'completed': tarea.calificacion != null, 'pending': tarea.calificacion == null}">
          {{ tarea.calificacion != null ? 'Calificada' : 'Pendiente' }}
        </span>
      </div>
      <p class="tarea-enunciado">{{ tarea.enunciado }}</p>
      <p class="tarea-date">Fecha de apertura: {{ tarea.fechaApertura | date }}</p>
      <p class="tarea-calificacion"><strong>Calificación:</strong> {{ tarea.calificacion ?? 'Sin asignar' }}</p>
      <p class="usuario-asignado">
        <strong>Alumno asignado:</strong> {{ tarea.user?.email ?? 'Ninguno' }}
      </p>

      <!-- Textarea para escribir la solución escrita (visible solo para alumnos y si no está calificada) -->
      <div class="solucion-escrita-alumno" *ngIf="auth.ifAlumno() && tarea.calificacion == null">
        <label for="solucionEscrita">Solución Escrita:</label>
        <textarea class="form-control" [(ngModel)]="solucionEscrita" name="solucionEscrita" rows="5"></textarea>
        <div class="text-center">
          <button class="btn btn-primary mt-3" (click)="enviarSolucionEscrita()">Enviar Solución</button>
        </div>
      </div>

      <!-- Área de visualización de la solución escrita (visible solo para profesores) -->
      <div class="solucion-escrita-profesor mt-4">
        <label for="visualizarSolucion">Solución Escrita:</label>
        <div id="visualizarSolucion" class="solucion-escrita">{{ tarea.solucionEscrita }}</div>
      </div>

      <!-- Controles para editar calificación -->
      <div class="calificacion-profesor" *ngIf="auth.ifProfesor() || auth.ifAdmin()">
        <label for="calificacion">Editar Calificación:</label>
        <input type="number" [(ngModel)]="nuevaCalificacion" min="0" max="10" class="form-control">
        <button class="editar-button mx-auto justify-content-center d-flex" (click)="editarCalificacion(tarea.idTarea)">Poner Calificación</button>
      </div>
    </div>
  </div>
</div>
