.bg-green {
    background-color: #2D9596;
  }
  
  footer hr {
    border-top: 1px solid white;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

  footer {
    position: absolute; /* o 'absolute' dependiendo del caso */
    bottom: 0;
    width: 100%;
    height: 20%;
    
  }
  
  