.bg-green {
    background-color: #2D9596;
  }
  
footer hr {
  border-top: 1px solid white;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  height: 200px;
  
  background-color: #2D9596; /* Reiterar el color de fondo */
}
  
  