/* Define la animación */
@keyframes bell-ring {
  0% { transform: rotate(0); }
  25% { transform: rotate(-15deg); }
  50% { transform: rotate(15deg); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0); }
}

/* Aplica la animación cuando se pasa el ratón sobre la campana */
.navbar-nav .nav-link.icon:hover {
  animation: bell-ring 0.5s ease-in-out;
}

/* Otros estilos existentes */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-divider {
  height: 40px;
  width: 2px;
  background-color: black;
  margin-right: 20px;
}

.nav-link {
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.4rem;
}

.navbar-nav .icon {
  color: #2D9596;
}

.navbar-nav .nav-link i {
  font-size: 1.8rem;
  margin-right: 10px;
}

.navbar-nav .nav-item img {
  height: 35px;
}

span {
  font-size: 1.2rem;
  color: #2D9596;
  margin-right: 20px;
}

.navbar-nav.ml-auto {
  margin-left: auto;
}
