.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-divider {
  height: 40px;
  width: 2px;
  background-color: black;
  margin-right: 20px; /* Aumenta el espacio entre el divisor y la imagen de perfil */
}

.nav-link {
  font-weight: bold;
  margin-right: 10px; /* Reduce el margen entre enlaces */
  font-size: 1.4rem; /* Aumenta el tamaño de fuente */
}

.navbar-nav .icon {
  color: #2D9596;
}

.navbar-nav .nav-link i {
  font-size: 1.8rem; /* Aumenta el tamaño de los iconos */
  margin-right: 10px;
}

.navbar-nav .nav-item img {
  height: 35px; /* Aumenta el tamaño de la imagen de perfil */
}

span {
  font-size: 1.2rem;
  color: #2D9596;
  margin-right: 20px;
}


.navbar-nav.ml-auto {
  margin-left: auto; /* Alinea los elementos de la derecha */
}
