.container {
  max-width: 800px;
}

.tarea-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tarea-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tarea-button {
  width: 100%;
  background-color: white;
  border: none;
  text-align: left;
  padding: 1rem;
  font-size: 1rem;
}

.tarea-titulo {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.tarea-descripcion {
  display: block;
  color: #2D9596;
}
