<app-navbar-secundario [clase]="clase"></app-navbar-secundario>
<div class="container my-5" *ngIf="clase">
  <h2 class="mb-4">Calificaciones de las tareas</h2>
  <div class="tarea-container">

    <div class="tarea-item" *ngFor="let tarea of tareas | paginate: { itemsPerPage: 4, currentPage: p }">
      <button class="tarea-button" [routerLink]="['/tarea', tarea.idTarea]">
        <div class="tarea-content">
          <span class="tarea-icono">+</span>
          <div class="tarea-info">
            <span class="tarea-titulo">TAREA: {{ tarea.nombreTarea }}</span>
            <p class="tarea-alumno"><strong>Alumno asignado:</strong> {{ tarea.user?.email ?? 'Ninguno' }}</p>
          </div>
        </div>
        <div class="tarea-detalles">
          <span class="tarea-rango">RANGO 0-10</span>
          <span class="tarea-valor" [ngClass]="{'aprobado': tarea.calificacion >= 5, 'suspenso': tarea.calificacion < 5}">
            {{ tarea.calificacion ? tarea.calificacion : '---' }}
          </span>
        </div>
      </button>
    </div>

  </div>
  <div class="mx-auto me-5 mt-4 mb-2 justify-content-center d-flex">
    <pagination-controls class="paginacion" [autoHide]="true" [responsive]="true" [maxSize]="5" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
